<div class="dev-container">

    <div class="dev-title">
        <h2>Desenvolvedores</h2>
    </div>

    <div class="dev-content">

        <div class="dev-content-dev">

            <div class="dev-content-img">
                <img src="../img/wevertoncampos.jpg">
                </img>
            </div>

            <div class="dev-content-text">
                <h2>Weverton Campos</h2>
                <p>Formação: Técnico em Música em 2019, atualmente cursando Análise e Desenvolvimento de Sistema</p>
            </div>


        </div>



    </div>
</div>