<section class="section-one">
    <h1>Game 1</h1>
     <a href="/">voltar</a>
</section>

<section class="section-two">
   <div>
      
      <input type="number" id="input-number">
      <input type="number" id="input-answer">
      <button type="button" id="btn-check">Conferir</button>

   </div>
   <div class="div-result">
      
      <label type="number" id="label-result">


   </div>
   <div class="div-result">
   
      <button type="button" id="btn-reload"> Novamente </button>

   </div>
</section>

