<div class="div-result">

   <img src="../img/ok.jpg" width="100px" style="display: none;" id="img-ok">
   <img src="../img/no.jpg" width="70px" style="display: none;" id="img-no">

</div>
<div class="game-container">
   <h1>Numeros</h1>
   <button type="button" id="btn-reload"> Novamente </button>

   <div class="div-game">
      <input type="number" id="input-number"><br>
      <input type="number" id="input-answer"><br>
      <button type="button" id="btn-check">Conferir</button>

   </div>
</div>