<section class="section-one">

    <div class="container-cards">
        

        <a href="/gameone">
            <div class="card-games">
                <h3>Game 1</h3>
                <img src="" alt="">
            </div>
        </a>

        <a href="/gametwo">
            <div class="card-games">
                <h3>Game 2</h3>
            </div>
        </a>

        <a href="/gamethree">
            <div class="card-games">
                <h3>Game 3</h3>
            </div>
        </a>

    </div>

</section>

<section class="footer">
    <h3>Sobre</h3>
    <h5>EducaGames</h5>
</section>