<div class="login-container">

    <h1>Login</h1>
    
    <div class="login-form">

        <form action="">

            <input type="text" id="input-login-name" placeholder="Name">
            <input type="email" id="input-login-name" placeholder="Email">
            <input type="password" id="input-login-name" placeholder="Password"><br>
            <button type="button" id="btn-login">Login</button>

        </form>

    </div>


</div>